.link{
    text-decoration: none;
    font-size: 20px;

}
.link:hover{
    text-decoration: underline;
    color: rgb(212, 146, 23);
}
.brand{
    font-size: 30px;
    font-weight: 700;
}
.link2{
    text-decoration: none;
    color: black;
}
.link2:hover{
    text-decoration: none;
    color: black;
}